<table class="table">
  <thead class="thead-light">
    <tr>
      <th *ngIf="full" scope="col">Auteur</th>
      <th scope="col">Début</th>
      <th scope="col">Fin</th>
      <th scope="col">Invités</th>
      <th scope="col">status</th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let booking of bookings">
      <td *ngIf="full">{{booking.booker.email}}</td>
      <td>{{booking.startDate | date:'dd/MM/yyyy'}}</td>
      <td>{{booking.endDate | date:'dd/MM/yyyy'}}</td>
      <td>{{booking.nbOfGuests}}</td>
      <td>{{booking.status}}</td>
      <td>
        <app-booking-actions [booking]="booking" [full]="full"></app-booking-actions>
      </td>
    </tr>
  </tbody>
</table>
