<div class="d-flex">
  <div class="card mx-auto">
    <div class="card-header">
      {{link.title}}
    </div>
    <div class="card-body">
      <form>
        <div *ngIf="!link.signin">
          <div class="form-group">
            <label for="firstname">Prénom</label>
            <input required id="firstname" type="text" class="form-control" placeholder="Prénom" aria-label="firstname">
          </div>
          <div class="form-group">
            <label for="lastname">Nom</label>
            <input required id="lastname" type="text" class="form-control" placeholder="Nom" aria-label="lastname">
          </div>
          <div class="form-group">
            <label for="phone">Téléphone</label>
            <input id="phone" type="number" class="form-control" placeholder="Téléphone" aria-label="phone">
            <small *ngIf="!link.signin" id="phone" class="form-text text-muted">Ne sera jamais divulgué</small>
          </div>
        </div>
        <div class="form-group">
          <label for="email">Adresse mail</label>
          <div class="input-group">
            <span class="input-group-addon" id="at-addon">@</span>
            <input required id="email" type="email" class="form-control" placeholder="Adresse e-mail" aria-label="email" aria-describedby="at-addon emailHelp">
          </div>
          <small *ngIf="!link.signin" id="emailHelp" class="form-text text-muted">Ne sera jamais divulgué</small>
        </div>
        <div class="form-group">
          <label for="pass1">Mot de passe</label>
          <input required id="pass1" type="password" class="form-control" placeholder="Mot de passe" aria-label="password">
        </div>
        <div *ngIf="!link.signin" class="form-group">
          <label for="pass2">Confirmation du mot de passe</label>
          <input required id="pass2" type="password" class="form-control" placeholder="Confirmer le mot de passe" aria-label="password">
        </div>
      </form>
    </div>
    <div class="text-center card-footer">
      <button class="btn btn-outline-primary" (click)="submit()">Valider</button>
      <footer class="text-left font-italic">
        {{link.signText}}
        <a (click)="changeLink($event)" href>{{link.linkText}}</a>
      </footer>
    </div>
  </div>
</div>
