<form class="form" [formGroup]="bookingForm" (submit)="submit()" novalidate>
  <div class="form-group">
    <div class="input-group">
      <div class="input-group-prepend">
        <span class="input-group-text">Début</span>
      </div>
      <input type="date" class="form-control" formControlName="startDate">
    </div>
  </div>

  <div class="form-group">
    <div class="input-group">
      <div class="input-group-prepend">
        <span class="input-group-text">Fin</span>
      </div>
      <input type="date" class="form-control" formControlName="endDate">
    </div>
  </div>

  <div class="form-group">
    <div class="input-group">
      <div class="input-group-prepend">
        <span class="input-group-text">Nombre d'invités</span>
      </div>
      <input type="text" class="form-control" placeholder="Entrez un nombre" formControlName="nbOfGuests">
    </div>
  </div>

  <div class="form-group">
    <div *ngIf="full" class="btn-group btn-group-toggle" ngbRadioGroup name="status" formControlName="status">
      <label ngbButtonLabel class="btn-outline-success">
        <input ngbButton type="radio" [value]="'VALIDATED'"> Valide
      </label>
      <label ngbButtonLabel class="btn-outline-danger">
        <input ngbButton type="radio" [value]="'PENDING'"> En cours de validation
      </label>
    </div>
  </div>
</form>

{{ bookingForm.value | json }}
