<div class="card">
  <div class="card-body">
    <h4 class="card-title">Réserver</h4>
    <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
    <form>
      <div class="form-group">
        <label for="dat1">Date de début</label>
        <input name="date_debut" required id="dat1" type="date" class="form-control" placeholder="Date de début" aria-label="date_debut">
      </div>
      <div class="form-group">
        <label for="dat2">Date de fin</label>
        <input name="date_dfin" required id="dat2" type="date" class="form-control" placeholder="Date de fin" aria-label="date_fin">
      </div>
    </form>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
  </div>
</div>
