<nav class="navbar navbar-light bg-light justify-content-center">
  <div class="btn-grorup" role="group">
    <a class="btn btn-outline-primary" [routerLink]="'profil'" routerLinkActive="active">Mon profil</a>
    <a class="btn btn-outline-primary" [routerLink]="'calendar'" routerLinkActive="active">Calendrier</a>
    <a class="btn btn-outline-primary" [routerLink]="'admin'" routerLinkActive="active">Administration</a>
    <a class="btn btn-outline-danger" (click)="logout()" routerLinkActive="active">Déconnexion</a>
  </div>
</nav>
<div class="container-fluid">
  <router-outlet></router-outlet>
</div>