<div class="row justify-content-center">
  <nav class="navbar navbar-light bg-light">
    <a class="nav-link active" [routerLink]="['profil/']">Mon profil</a>
    <a class="nav-link" [routerLink]="['calendar/']">Calendrier</a>
    <a class="nav-link" [routerLink]="['admin/']">Administration</a>
    <a class="btn btn-danger" (click)="logout()">Déconnexion</a>
  </nav>
</div>

<div class="container-fluid">
  <router-outlet></router-outlet>
</div>

<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <span class="text-muted text-xs-center">&copy; La Perette {{date}}.</span>
      </div>
    </div>
  </div>
</footer>
