<div class="row justify-content-center">
  <ul class="nav">
    <li class="nav-item">
      <a class="nav-link active" [routerLink]="['profil/']">Mon profil</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" [routerLink]="['calendar/']">Calendrier</a>
    </li>
  </ul>
</div>
<router-outlet></router-outlet>
<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <span class="text-muted text-xs-center">&copy; la Perette {{date}}.</span>
      </div>
    </div>
  </div>
</footer>
